<html>
<title>Palmprint Recognition</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/w3images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
img{
    width: 300 !important;
    height: 300 !important;
}
</style>
<body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        
                    </ul>
                </div>
                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto"  href="#">ระบบรู้จำลายฝ่ามือ</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        
                    </ul>
                </div>
            </nav>
        
<br>
<br>
<br>
<form id="upload-file" class="text-center form-position" method="post" enctype="multipart/form-data" action="">
    <input name="file" type="file" id="filechooser" />
    <button type="submit" id="upload-btn" class="btn btn-primary">upload</button>
    <button type="button" id="upload-btn" class="btn btn-primary">clear</button>
</form>
<br>
<br>
<br>
<div class="container" style="margin-bottom:30%">
<div class="row" >
        <div class="col-md-4" >
            <h3>รูปภาพที่ต้องการทดสอบ</h3>
            <img id="display" style="text-align:center; width: 400px; height: 200px;!important" />
        </div>
        <div class="col-md-4">
            <h3>รูปภาพที่มีความตรงกัน</h3>
            <div id="display2"></div>
        </div>
        <div class="col-md-4">
            <h3>รายละเอียดในการทดสอบ</h3>
            <div id="result"></div>
            <div id="id"></div>
            <div id="simi"></div>
        </div>
</div>  
<div class="row">

</div>
</div>
<footer>
    <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background-color:#343a40!important">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
      <!-- Copyright -->
</footer>
<script type="text/javascript" src="../static/jquery/jquery-3.3.1.js"></script>
<script>
     console.log('test');
    $('#display').hide();
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#display')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
            $('#display').show();
        }
    }
    // $('#upload-btn').click(function(){
    //     console.log('test');
    //     $('#display').hide();
    //     $('#display1').hide();
    //     $('#simi').innerHTML("")
    //     $('#id').innerHTML("")
    //     $('#display2').innerHTML("");                    
    //     $('#result').innerHTML("");
    // });

    $('#upload-btn').click(function (e) {
            e.preventDefault();
            var formData = new FormData($('#upload-file')[0]);
            var classes = ['background', 'Foi_Tong', 'grilled_sticky_rice', 'kanomkrok', 'kanom_tan', 'thai_mango_sticky_rice',
                   'Thong_yib', 'Thong_yod'];
            console.log(formData)
            $.ajax({
                url: "upload_image",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    data = JSON.parse(response);
                    console.log(data);
                    // str = '<img src=' + data.img_path + ' width="960px" height="480px"/>';
                    str2 = '<img src=' + data.img_path2 + ' width="960px" height="480px"/>';
                    console.log(data.data);
                    var boundingBox = data.data;
                    var i = 0;
                    var html ='<div><ul>';
                    var simi = '<h4> Similarity : '+ data.similarity + '</h4>'
                    var id = '<h4> Id image : ' + data.index + '</h4>';
                    // boundingBox.forEach(function(entry){
                    //     console.log(i, entry);
                    //     html += '<li> Class: <b>' + classes[entry[0]] + '</b> Confident: <b>' + entry[1] + '</b> XMin: <b>' + entry[2]
                    //             + '</b> YMin: <b>' + entry[3] + '</b> XMax: <b>' + entry[4] + '</b> YMax: <b>' + entry[5] + '</b>';
                    //     i++;
                    // });
                    // html += '</ul></div>';
                    
                    $('#test').append('<h3>Test Image : </h3>');
                    // $('#display').innerHTML(str);
                    $('#result').append(html);
                    $('#match').append('<h3>Matching Image : </h3>')
                    $('#simi').append(simi)
                    $('#id').append(id)
                    $('#display2').append(str2);
                    
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                    // window.location.href = '';
                    document.getElementById('result').innerHTML = 'error';
                }
            });
        });

    </script>
</body>
</html>